<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue-Python sample 2</title>
  <script src="lib/vue.js"></script>
  <!--script src="lib/axios.min.js"></script-->
  <link rel="stylesheet" href="lib/picnic.min.css" />
  <style>
  .card { margin: 20px; }
  .data { width: 1px; height: 1px; visibility: hidden; /*display: none;*/ }
  .current { background: yellow; }
  .histo { display: flex; align-items: flex-end; min-height: 100px; }
  .help-load { background: white; position: absolute; padding: 100px; border: 5px solid black; }
  .help-load:hover {z-index: 1000;}
  </style>
</head>
<body>

  <div id="main">


    <button @click="currentClass -= 1">«</button>
    <button @click="currentClass += 1">»</button>
    Current class: <input v-model.number="currentClass" ></input>

    <hr/>
    <div v-for="s in [importance, importance2, importance3]">
      <div class="histo">
        <div v-for="(v, i) in s" @mouseover="currentShapelet = i" :class="{current: currentShapelet==i}" :style="{border: '1px solid '+(v>0 ? 'green' : 'red'), height: Math.abs(v)*0.2+'px', width: '10px'}" :title="v"></div>
      </div>
    </div>
    <h5>class {{currentClass}} - mean(others) (top)</h5>
    <h5>class {{currentClass}} - max(others)  (bottom)</h5>

    <hr/>
    <img :src="currentImage" alt="WARNING: this example requires some private data"></img>
  </div>

  <script src="lib/vuejspython.js"></script>
  <script>
  vuejspython.start({}, 'ws://localhost:4242')
  </script>
</body>
</html>
