<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue-Python sample 1</title>
  <script src="lib/vue.js"></script>
  <link rel="stylesheet" href="lib/picnic.min.css" />
  <style>
  </style>
</head>
<body>

  <div id="main">
    <a v-for="cmd in suggestions" @click="meth1(cmd)" class="button">run {{cmd}}</a>
    {{ i }}² = {{ i2 }} = {{ i_squared }} = {{ i2_injs }}
    <br/>
    <a @click="clone('clone')" class="button">+ clone</a>
    <input v-model="i"></input>
    <progress style="width: 500px" max="100" :value="i"></progress>
  </div>

  <script src="vuejspython.js"></script>
  <script>
  vuejspython.start('localhost', // can also use a full URL ws://....:
    { // optionnal configuration object
      computed: { // computed on the js side
        i2_injs: function () {
          return this.i * this.i
        }
      }
    })
  // ^ TODO: maybe handle startup callbacks
  </script>
</body>
</html>
