<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vue-Python sample 3</title>
  <script src="lib/vue.js"></script>
  <!--script src="lib/axios.min.js"></script-->
  <link rel="stylesheet" href="lib/picnic.min.css" />
  <style>
  </style>
</head>
<body>

  <div id="main">
    <a v-for="cmd in suggestions" @click="meth1(cmd)" class="button">run {{cmd}}</a>
    i: {{ i }}<br/>
    i_squared: {{ i_squared }}</br>
    i_mod2: {{ i_mod2 }}<br/>
    odd: {{ odd }}<br/>
    even: {{ even }}<br/>
    iorisquared: {{ iorisquared }}<br/>
    iorj: {{ iorj }}<br/>
    loopy: {{ loopy }}<br/>
    loopy2: {{ loopy2 }}<br/>
    <br/>
    <input v-model="i"></input>
    <a class="button" @click="i+=1">i+=1</a>
    <a class="button" @click="j+=1">j+=1</a>
    <input v-model="j"></input>
    <progress style="width: 500px" max="100" :value="i"></progress>
  </div>

  <script src="vuejspython.js"></script>
  <script>
  vuejspython.start('localhost')
  </script>
</body>
</html>
